#################################################################################
#										#	
#					ALERT!					#
#			YOU HAVE ENTERED A SECURE AREA				#
#			Your IP, Login Time, Username has been			#
#			           	recorded                                #
#		IF YOU ARE NOT AFFILIATED WITH OLIVERMEL LINUX ACADEMY		#
#				PLEASE LOG OUT RIGHT NOW			#
#				YOU WILL BE PROSECUTED				#
#					THANK YOU				#
#										#
#################################################################################
